.toggle__header {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 2px;

  cursor: pointer;
}

.toggle__header > span {
  padding-bottom: 0.3rem;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212121;
  text-transform: uppercase;
}

.toggle__header > img {
  transition: all 0.4s;
}

.toggle__item:first-child {
  border-top: 2px solid #e2e2e2;
}

.toggle__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid #e2e2e2;

  padding: 11px 0;

  @media screen and (min-width: 576px) {
    padding: 11px 16px;
  }
}

.toggle__item > div:first-child {
  display: flex;
  align-items: center;
  // cursor: pointer;
}

.toggle__item > div:first-child > img {
  margin: 0 16px 0 0;
}

.toggle__item > div:first-child > span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  // color: #212121;
}

.toggle__item > span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: right;
  // color: #212121;
}

.toggle__pannel {
  display: block;
  transition: all 0.5s;
}

.toggle__pannel > p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #424242;

  margin: -4px 0 8px;
}

.rotate {
  transform: rotate(-180deg);
  transition: all 0.4s;
}

.hidden {
  display: none;
  transition: all 0.4s;
}

.show {
  display: block;
  transition: all 0.4;
}


.activated {
  font-weight: 600 !important;
}

.mat-expansion-panel {
  background-color: transparent!important;
  box-shadow: none;
  color: #212121 !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
}
.mat-expansion-panel-header-title {
  color: #212121!important;
}
.mat-expansion-indicator:after, .mat-expansion-panel-header-description {
  color: #212121 !important;
}
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
  background-color: transparent!important;;
}

.mat-content {
  padding: 0 20px;
}

.mat-expanded{

  padding: 11px 0;

  @media screen and (min-width: 576px) {
    //padding: 11px 16px;
  }
}
::ng-deep .mat-expansion-indicator::after {
  color: #212121 !important;
}
.bottom-border{
  border-bottom: none;
}
