.password {
    margin-top: 80px;
    padding: 0 20px 100px;
    min-height: 100vh;
    overflow: auto;
}

.password h1 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212121;
}

.password__form {
    margin-top: 24px;
}

.password__form > .mat-form-field {
    width: 100%;
}

.password__form > .mat-form-field > input {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212121;
}

.password__form > button {
    width: 100%;
    margin-top: 55px;
    border-radius: 24px;
    height: 48px;
    background-color: var(--theme-global-var);

    display: flex;
    align-items: center;
    justify-content: center;
}

.password__form > button:disabled {
    background-color: #e7e7e7;
    color: white;
}

.password__description {
    margin: 32px auto;
    max-width: 335px;
}

.password__description > h6 {
    margin-bottom: 20px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212121;
    display: inline-block;
}

.password__description > p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212121;
    margin: 2px;
    display: inline-block;
    max-width: 310px;
}