<footer class="footer">
    <div>
        <div [routerLink]="['/my-account/profile']" routerLinkActive="active">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </div>
        <div [routerLink]="['/my-account/payment']" routerLinkActive="active">
            <mat-icon>credit_card</mat-icon>
            <span>Payment</span>
        </div>
        <div [routerLink]="['/my-account/password']" routerLinkActive="active">
            <mat-icon>vpn_key</mat-icon>
            <span>Password</span>
        </div>
    </div>
</footer>