<app-header 
  [title]="'MY ACCOUNT'" 
  [showSearcher]="false" 
  [fixed]="true"
  [showTitle]="showTitle"
  (openSidebar)="open=true"
>
</app-header>
<app-account-footer></app-account-footer>

<div class="payment">
  <h1>PAYMENT METHODS</h1>

  <div class="bottomSheet__cards">
    <div *ngFor="let paymentMethod of paymentMethods" (click)="setDefaultCard(paymentMethod)">
      <app-unchecked-radio-button *ngIf="paymentMethod.isDefault !== true" style="margin-right: 16px;"></app-unchecked-radio-button>
      <app-checked-radio-button *ngIf="paymentMethod.isDefault === true" style="margin-right: 16px;"></app-checked-radio-button>
      <img [src]="'../../assets/CreditCardicons/' + returnCardLogo(paymentMethod.card.brand)" alt="visa">
      <span>{{ paymentMethod.card.brand | uppercase }} {{ paymentMethod.card.last4 }}</span>
      <span *ngIf="paymentMethod.isDefault === true" id="default">DEFAULT</span>
    </div>

  </div>

  <button mat-raised-button color="accent" (click)="openDialog()" [disabled]="!defaultPaymentMethod">ADD NEW CARD
  </button>
</div>

<app-sidebar [(open)]="open"></app-sidebar>
