<footer class="d-lg-block d-none" style="margin-top: 45px">
  <div class="bgColor hz-container">
    <div class="space generalPadding">
      <div class="box-container justify-content-between">
        <div style="" class="d-flex align-items-center">
          <img alt="" src="assets/orderosWhite.png" style="width: 135px">
        </div>
        <div class="d-flex flex-row justify-content-between" style="padding-top: 40px">
          <table class="t-body t-txt">
            <th class="t-header" style="margin-bottom: 16px;">orderOs</th>
            <tr>
              <td style="padding-top: 16px">
                <a href="https://www.eatos.com/about" class="link" target="_blank" rel="noreferrer">About Us</a>
              </td>
            </tr>
            <tr>
              <td>Careers</td>
            </tr>
            <tr>
              <td>
                <a href="https://www.eatos.com/blog" class="link" target="_blank" rel="noreferrer">Blog</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.eatos.com/press-media-kit-page" class="link" target="_blank" rel="noreferrer">Press & Media</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.eatos.com/giftcards" class="link" target="_blank" rel="noreferrer">Gift Cards</a>
              </td>
            </tr>
          </table>

          <div  style="margin-left: 130px" class="t-body t-txt">
            <div class="titles">MERCHANTS</div>
            <div class="pt-3"> <a href="https://www.eatos.com/full-service-pos" class="link" target="_blank" rel="noreferrer">Sell on eatOS</a></div>
            <div class="pt-3"> <a href="https://www.eatos.com/full-service-pos" class="link" target="_blank" rel="noreferrer">Restaurants</a></div>
          </div>

          <div  style="margin-left: 130px" class="t-body t-txt">
            <div class="titles">SUPPORT</div>
            <div class="pt-3"> <a href="https://www.eatos.com/full-service-pos" class="link" target="_blank" rel="noreferrer">Customer Help</a></div>
            <div class="pt-3"> <a href="https://www.eatos.com/full-service-pos" class="link" target="_blank" rel="noreferrer">Merchant Help</a></div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center" style="text-align: end;flex-direction: column">
          <img alt="" src="assets/footer-icons/App Store.svg" style="width:  135px;margin-bottom:24px" width="135px" height="40px">
          <img alt="" src="assets/footer-icons/Google Play.svg" style="width:  135px;" width="135px" height="40px">
        </div>
      </div>
      <div class="d-flex justify-content-between" style="padding-top: 25px">
        <div class="text-tyc flex-row">
          <span style="padding-right: 11px">Terms of Service</span>|
          <span style="padding-left: 11px;padding-right: 11px">Privacy Policy</span>|
          <span style="padding-left: 11px;">Terms</span>
          <div style="padding-left:24px ">
            Copyright © 2021 eatOS Inc. - All rights reserved.
          </div>
        </div>
        <div class="d-flex" style="text-align: end">
          <a aria-label="instagram"  href="https://www.instagram.com/myeatos/?hl=en" target="_blank" rel="noreferrer">
            <img alt="" src="assets/footer-icons/Instagram.svg" style="width: 24px;margin-left: 32px" width="24px" height="24px">
          </a>
          <a aria-label="facebook"  href="https://www.facebook.com/myeatos" target="_blank" rel="noreferrer">
            <img alt="" src="assets/footer-icons/Facebook.svg" style="width: 24px;margin-left: 32px" width="24px" height="24px">
          </a>
          <a aria-label="Twitter"  href="https://twitter.com/myeatos" target="_blank" rel="noreferrer">
            <img alt="" src="assets/footer-icons/Twitter.svg" style="width: 24px;margin-left: 32px" width="24px" height="24px">
          </a>
          <a aria-label="youtube"  href="https://www.youtube.com/channel/UCjkY9x6yFFMJNL0693UBCzg" target="_blank" rel="noreferrer">
            <img alt="" src="assets/footer-icons/Youtube.svg" style="width: 24px;margin-left: 32px" width="24px" height="24px">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="d-sm-block d-lg-none">
  <div class="bgColor w-100 d-flex flex-column" style="padding: 20px">
    <div class="d-flex w-100 justify-content-center" style="padding: 20px 0">
      <img alt="" src="assets/footer-icons/App Store.svg" style="width:  135px;margin-right: 32px" width="135px" height="40px">
      <img alt="" src="assets/footer-icons/Google Play.svg" style="width:  135px;" width="135px" height="40px">
    </div>
    <div style="color: white;padding-top: 20px">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="t-header">
            <mat-panel-title>orderOs</mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tr>
              <td style="padding-top: 16px">
                <a href="https://www.eatos.com/about" class="link" target="_blank" rel="noreferrer">About us</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.eatos.com/about" class="link" target="_blank" rel="noreferrer">Carrers</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.eatos.com/blog" class="link" target="_blank" rel="noreferrer">Blog</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.eatos.com/press-media-kit-page" class="link" target="_blank" rel="noreferrer">Press & Media</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.eatos.com/giftcards" class="link" target="_blank" rel="noreferrer">Gift Cards</a>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
      <div style="margin-top: 30px">
        <mat-accordion multi>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header class="t-header">
              <mat-panel-title>MERCHANTS</mat-panel-title>
            </mat-expansion-panel-header>
            <table>
              <tr>
                <td>
                  <a href="https://www.eatos.com/full-service-pos" class="link" target="_blank" rel="noreferrer">Sell on orderOs</a>
                </td>
              </tr>
              <tr>
                <td class="link">Restaurants</td>
              </tr>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div style="padding-top:30px!important; ">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header class="t-header">
              <mat-panel-title>SUPPORT</mat-panel-title>
            </mat-expansion-panel-header>
            <table>
              <tr>
                <td style="padding-top: 16px" class="link">Customer Help</td>
              </tr>
              <tr>
                <td class="link">Merchant Help</td>
              </tr>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="d-flex" style="padding: 40px 0">
        <a aria-label="Twitter" href="https://www.instagram.com/myeatos/?hl=en" target="_blank" rel="noreferrer">
          <img alt="" src="assets/footer-icons/Instagram.svg" style="width: 24px;margin-left: 32px" width="24px" height="24px">
        </a>
        <a aria-label="Twitter" href="https://www.facebook.com/myeatos" target="_blank" rel="noreferrer">
          <img alt="" src="assets/footer-icons/Facebook.svg" style="width: 24px;margin-left: 32px" width="24px" height="24px">
        </a>
        <a aria-label="Twitter" href="https://twitter.com/myeatos" target="_blank" rel="noreferrer">
          <img alt="" src="assets/footer-icons/Twitter.svg" style="width: 24px;margin-left: 32px" width="24px" height="24px">
        </a>
        <a aria-label="Twitter" href="https://www.youtube.com/channel/UCjkY9x6yFFMJNL0693UBCzg" target="_blank" rel="noreferrer">
          <img alt="" src="assets/footer-icons/Youtube.svg" style="width: 24px;margin-left: 32px" width="24px" height="24px">
        </a>
      </div>
      <div>
        <div class="text-tyc flex-column">
          <span style="padding-bottom: 14px">Terms of Service</span>
          <span style="padding-bottom: 14px;">Privacy Policy</span>
          <span style="padding-bottom: 14px;">Terms</span>
          <div>
            Copyright © 2021 eatOS POS Inc. - All rights reserved.
          </div>
        </div>
      </div>
      <div style="margin: 40px 0" class="d-flex align-items-center">
        <img alt="orderOS-logo" width="135" src="assets/orderosWhite.png" style="width: 135px">
      </div>
    </div>
  </div>
</footer>
