<nav class="spaceNav navbar navbar-top fixed-top topbar" style="background-color: white !important;">
  <div class="spaceNav w-100 h-100 d-flex justify-content-between" style="background-color: white;">
    <div class="d-flex">
      <div class="d-flex flex-column" style="align-items: center;margin: auto">
        <div class="navbar-toggler p-0" data-target="#navbarNav"
             aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <img height="39" alt="" src="assets/orderosLogo.png">
        </div>
      </div>
    </div>
    <div class="d-lg-flex d-sm-none account-button"
         style="display:flex;justify-content: center;align-items: center">
<!--      <account></account>-->
    </div>
  </div>
</nav>
<div class="mainContentWrapper">
  <div class="mainContent">
    <div>
      <p class="Oops-The-page-cant">Oops!</p>
      <p class="Oops-The-page-cant">The Page</p>
      <p class="Oops-The-page-cant">can’t be found</p>
      <p class="Oops-The-page-cant-mobile">The Page can’t be found</p>
      <span class="You-seem-to-have-rea">You seem to have reached a page that</span>
      <br id="description-break">
      <span class="You-seem-to-have-rea">does not exist or is under construction.</span>
      <br>
      <span class="ERROR-CODE-400">ERROR CODE: 404</span>
    </div>
    <div><img src="assets/404.svg" alt="404"></div>
  </div>
</div>

