<ng-container>
  <div class="modal-delivery-olo">

    <div>
      <div class="d-flex flex-column">
        <span class="title">
          Searching for delivery partner
        </span>

        <span class="pop-up-gb">
        We are searching for the best available delivery partner that is close to the restaurant for your convenience
      </span>

        <div class="d-flex" style=" padding: 24px 32px 28.3px;">
          <img src="../../../../../assets/delivery/eO_Searching_for_delivery_partner.gif" width="200" class="m-auto"
               alt="search Delivery">
        </div>

      </div>
    </div>

  </div>

  </ng-container>
